{ext_tag, "release-0.1.12"}.
{lasp_bench_rebar_profile, default}.

{fault_tolerance_factor, 1}.
{leader_cluster, virginia}.

{master_node, 'apollo-2-1.imdea'}.
{master_port, 7087}.

{clusters, #{
  virginia => #{servers => ['apollo-1-2.imdea', 'apollo-1-3.imdea',
                            'apollo-1-4.imdea', 'apollo-1-5.imdea',
                            'apollo-1-6.imdea', 'apollo-1-7.imdea'],
                clients => ['apollo-1-8.imdea', 'apollo-1-9.imdea',
                            'apollo-1-10.imdea', 'apollo-1-11.imdea',
                            'apollo-1-12.imdea', 'apollo-2-2.imdea',
                            'apollo-2-3.imdea', 'apollo-2-4.imdea',
                            'apollo-2-5.imdea', 'apollo-2-6.imdea',
                            'apollo-2-7.imdea', 'apollo-2-8.imdea',
                            'apollo-2-9.imdea', 'apollo-2-10.imdea',
                            'apollo-2-11.imdea', 'apollo-2-12.imdea']}
}}.

{latencies, #{}}.

{local_dc_pool_size, 1}.
{ext_local_port, 7070}.
{ext_dc_port, 8989}.
{version_log_size, 25}.
{ping_interval_ms, 100}.
