{ext_tag, '_'}.
{fault_tolerance_factor, 1}.
{master_node, 'apollo-1-1.imdea'}.
{master_port, 7087}.
{leaders, '_'}.
{clusters, '_'}.
{latencies, #{}}.
{local_dc_pool_size, 1}.
{ext_local_port, 7070}.
{ext_dc_port, 8989}.
{ping_interval_ms, 100}.
