{ext_tag, "release-0.1.7"}.
% options: default
{lasp_bench_rebar_profile, default}.

{fault_tolerance_factor, 1}.
{leader_cluster, virginia}.

% Master config
{master_node, 'apollo-2-1.imdea'}.
{master_port, 7087}.

% 1 partition
% {clusters, #{
%   virginia => #{servers => ['apollo-1-2.imdea'],
%                 clients => ['apollo-1-5.imdea', 'apollo-1-6.imdea']}
% }}.

% 2 partitions
{clusters, #{
  virginia => #{servers => ['apollo-1-2.imdea', 'apollo-1-3.imdea'],
                clients => ['apollo-1-4.imdea', 'apollo-1-5.imdea',
                            'apollo-1-6.imdea', 'apollo-1-7.imdea']}
}}.

% 4 partitions
% {clusters, #{
%   virginia => #{servers => ['apollo-1-1.imdea', 'apollo-1-2.imdea',
%                             'apollo-1-3.imdea', 'apollo-1-4.imdea'],
%                 clients => ['apollo-1-5.imdea', 'apollo-1-6.imdea',
%                             'apollo-1-7.imdea', 'apollo-1-8.imdea',
%                             'apollo-1-9.imdea', 'apollo-1-10.imdea',
%                             'apollo-1-11.imdea', 'apollo-1-12.imdea']}
% }}.

% 6 partitions
% {clusters, #{
%   virginia => #{servers => ['apollo-1-1.imdea', 'apollo-1-2.imdea',
%                             'apollo-1-3.imdea', 'apollo-1-4.imdea',
%                             'apollo-1-5.imdea', 'apollo-1-6.imdea'],
%                 clients => ['apollo-1-7.imdea', 'apollo-1-8.imdea',
%                             'apollo-1-9.imdea', 'apollo-1-10.imdea',
%                             'apollo-1-11.imdea', 'apollo-1-12.imdea',
%                             'apollo-2-2.imdea', 'apollo-2-3.imdea',
%                             'apollo-2-4.imdea', 'apollo-2-5.imdea']}
% }}.

{latencies, #{}}.

% Ext config
%% Default is number of cores
{local_dc_pool_size, 1}.
{ext_local_port, 7070}.
{ext_dc_port, 8989}.
{version_log_size, 25}.
{ping_interval_ms, 100}.

% Tuning
% {shards_per_machine, -1}.
% {cpu_profile, "server.prof"}.
% {log_path, "/home/borja.deregil"}.
%% Default is 2 -> info
% {log_level, 2}.
%% Default is number of cores
% {inter_dc_pool_size, 6}.
