{driver,ext_bench}.
{mode,max}.
{duration,5}.
{concurrent,'_'}.
{report_interval,5}.
{key_generator, {{int_to_bin_bigendian, 64}, {uniform_int, 1000000}}}.
{value_generator, {fixed_bin, 256}}.
{pre_hook, {hook_ext, start}}.
{pre_hook_args, [[{conn_pool_size, 12}, {connection_opts, #{}}]]}.
{operations, '_'}.
{readonly_ops, '_'}.
{writeonly_ops, '_'}.
{mixed_read_write, {'_', '_'}}.
{retry_aborts, '_'}.
