{duration,5}.
{report_interval,5}.
{concurrent,'_'}.

{key_distribution, uniform}.
{key_range, 1000000}.
{value_bytes, 256}.
{conn_pool_size, 12}.

{operations, '_'}.
{metrics, '_'}.

{readonly_ops, '_'}.
{writeonly_ops, '_'}.
{retry_aborts, '_'}.

{op_timeout, {seconds, 5}}.
{commit_timeout, {minutes, 5}}.
